<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Navbar</a>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about"  routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="product" routerLinkActive="active">products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="contact" routerLinkActive="active">contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="directives" routerLinkActive="active a">Directives</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="typescript" routerLinkActive="active">typescript</a>
          </li>

          
          
      </ul>
    </div>
  </nav>
